// Game screen sizes
$game-width: 100%;
$game-height: 100%;
$game-footer-height: 30%;
$game-header-height: 70%;
// Game main colors
$footer-color: chocolate;
$header-color: #fff;

// Character sizes
$character-width: 40px;
$character-height: 50px;
// Character color
$character-color: green;
